{% extends "layout.html" %}

{% block title %}
    Add items to the fridge
{% endblock %}

{% block main %}
<form action="/add" method="POST">
  <div class="ui form">
  
    <div class="field">
      <label>Name</label>
      <input type="text" placeholder="e.g. Milk" autofocus required name="name" autocomplete="off">
    </div>
    <div class="field">
      <label>When did I bought it?</label>
      <input type="date" name="date" required>
    </div>
    <div class="field">
      <label>How much?</label>
      <input type="number" name="quantity_start" required >
    </div>
    <div class="field">
      <label>Unit</label>
      <select name="unit" class="ui dropdown">
        <option value="">Select unit</option>
        <option value="liter">Liter</option>
        <option value="kg">Kilogram</option>
        <option value="piece(s)">Piece(s)</option>
        <option value="package(s)">Packege(s)</option>
        <option value="gram">Gram</option>
        <option value="mililiter">Mililiter</option>
      </select>
    </div>
    <div class="field">
      <label>Cathegory</label>
      <select name="cathegory" class="ui dropdown">
        <option value="">Select cathegory</option>
        <option value="dairy">Dairy</option>
        <option value="meat">Meat</option>
        <option value="green">Fruit/vegetable</option>
        <option value="drinks">Drinks</option>
        <option value="others">Others</option>
      </select>
    </div>
  </div>
  <button class="ui green right labeled icon button" type="submit">
    <i class="right arrow icon"></i>
    Add 
  </button>
</form>
{% endblock %}