<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/style.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
        {% block script %}
        {% endblock %}
        <title>FridgeCon</title>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">FridgeCon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          {% if session.user_id %}
         
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a  class="nav-link" href="/">My fridge</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" href="/shopping-list">Need to buy</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" href="/logout">Log Out</a>
            </li>
            <img src="{{current_user.profile_pic}}" class="profile-picture" alt="Google profile picture"></img>
          </ul>
          {% endif %}
          </div>
      </nav>
        <main class="">
            {% block main %}{% endblock %}
        </main>
        <footer class="">
        </footer>
    </body>
</html>
